
.home-grid{
    height: 100dvh;
    margin: 0;
    display: grid;
    grid-template-columns: [l-bar-start]15% [l-bar-end] 100%  [content-end];
    grid-template-rows: [c-start]18% [nav-end] 100% [c-end];
  }

  .nav-grid{
    width: 100dvw;
    grid-column: l-bar-start / content-end;
    grid-row: c-start / nav-end;
    // background-color: #E2E2E2E6;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // box-shadow: inset 0px 3px 40px #00000017, 0px 3px 6px #00000029;
  }



.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
 
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}